<!DOCTYPE html>
{% extends "relurl_app/base.html" %}
  {% block body_block%}
    <h1>Welcome to Tcorp</h1>
  {% endblock %} <!-- here we are extending the bootstrap and nav bars from base.html page -->




<!-- <!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RELURL</title>
    <link rel="stylesheet" href="{%static "index.css"%}">
  </head>
  <body>
    <div class="container">
        <h1>Welcome To RELURL {{name}}!</h1>
        <h2><a href="form.html">Click here to go to form page</a></h2>
    </div>
  </body>
</html> -->
