<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <nav class="nav">
    <a class="nav-link" href="{% url "cbv_app:index" %}">Home</a>
    <a class="nav-link" href="{% url "cbv_app:list" %}">Schools List</a>
    <a class="nav-link" href="{% url "cbv_app:sdetail" %}">Schools Details</a>
    <a class="nav-link" href="{% url "admin:index" %}">admin</a>
  </nav>
  <div class="jumbotron">
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
